html {
    /* Force Vertical Scrollbar */
    /* IE */
    overflow-y: scroll;
    /* Moz */
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
}

img {
    border: 0;
}

body {
    background: #EDEDED;
    font: 14px Lucida, Lucida Grande, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

div#container {
    background: #fff;
    margin: 0 auto;
    width: 780px;
    height: 100%;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: none;
    text-align: left;
}

div#header {
    text-align: center;
}

div.section {
    clear: both;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
}

div.hidden-section {
    display: none;
}

a:link, a:visited, a:active {
    color: #317DDA;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: underline;
}


h1, h2, h3 {
    margin: 0;
    font-weight: normal;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 20px;
}


.left {
    width:33%;
    float:left;
    display:block;
}

.middle {
    width:33%;
    float:left;
    display:block;
}

.right {
    width:32%;
    float:left;
    display:block;
}

.unlisted {
    margin: 0;
    padding: 1em;
    list-style-type: none;
}

.listed {
    clear: none;
    margin: 0 0 0.5em 1em;
}

p {
    margin: 0;
}
